.bg-img {
  background-image: url(../../src/images/hero-bg.jpg);
  transform: translateZ(0);
  will-change: transform;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.8));
}

.hero-button-postition {
    display: flex;
    justify-content: center;
    align-items: center;
}