@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "hero.css";
@import "fonts.css";

:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: #ff9d00;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: TildaSans-Regular;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  width: 100%;
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.subtitle {
  color: #ff9d00;
}

.buttons a {
  text-decoration: none;
}

footer {
  background-color: #e0e0e0;
  padding: 2rem 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1em;
  color: #000;
  padding-left: 40px;
  padding-right: 40px;
}

footer .cell {
  align-content: center;
}

.footer-logo {
  font-weight: bold;
  font-size: 2rem;
  color: #4a4a4a;
  vertical-align: middle;
}

.footer-logo img {
  width: 30%;
  height: auto;
  /* float: left; */
}

.footer-logo p {
  font-size: small;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.social-icons a {
  color: #4a4a4a;
  font-size: 1rem;
  text-decoration: underline;
}

.section {
  /* top | right | bottom | left */
  padding: 50px 100px 50px 100px;
  color: var(--heading-color);
}

.section .title {
  padding-bottom: 50px;
  color: var(--heading-color);
}

.section .subtitle {
  padding-bottom: 10px;
}

.section p {
  padding-bottom: 30px;
}

.section .buttons {
  display: flex;
  justify-content: center;
}

#services {
  background-color: var(--bulma-primary-h, 200deg);
}

#services .card {
  background-color: var(--bulma-primary-h, 200deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #9f9e9e;
  margin-left: 10px;
  margin-bottom: 10px;
}

#services .media {
  display: flex;
  justify-content: center;
}

#services .media-content .title {
  color: var(--action-color);
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#services .media-content .subtitle {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}

#why-choose-us {
  color: var(--heading-color);
  background-color: var(--action-color);
}

#why-choose-us .subtitle {
  color: var(--heading-color);
  font-size: 1.5rem;
}