<section class="hero is-large is-link">
  <div class="hero-body has-text-centered bg-img">
    <p class="title is-size-1 has-text-white">You are busy building your business.</p>
    <p class="subtitle is-size-2 has-text-weight-bold">Trust us with building your software platform.</p>
    <div class="buttons are-medium is-centered">
        <a class="button is-primary has-background-link has-text-white" target="_blank" href="{{metadata.bookings_link}}">Book a call</a>
        <a class="button is-link is-light" href="#why-choose-us">Why choose us?</a>
    </div>
  </div>
</section>