<section class="hero is-large is-link">
  <div class="hero-body has-text-centered bg-img">
    <p class="title is-size-1 has-text-link">You are busy building your business.</p>
    <p class="subtitle is-size-3 has-text-weight-bold">Trust us with building your software platform.</p>
  </div>
</section>